{% extends "base.html" %}

{% block title %}{{ t.admin.ticket_types.title }}{% endblock %}

{% block content %}
<h1>{{ t.admin.ticket_types.title }}</h1>
<a href="/admin/ticket-types/new" class="btn btn-primary">{{ t.admin.ticket_types.new_type }}</a>

<table>
    <thead>
        <tr>
            <th>{{ t.admin.ticket_types.col_name }}</th>
            <th>{{ t.admin.ticket_types.col_description }}</th>
            <th>{{ t.admin.ticket_types.col_fields }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tt in ticket_types %}
        <tr>
            <td>{{ tt.name }}</td>
            <td>{{ tt.description }}</td>
            <td>{{ tt.field_count }}</td>
            <td><a href="/admin/ticket-types/{{ tt.id }}/edit" class="btn btn-sm">{{ t.common.edit }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
